/* RED COLOR: #e74c3c */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*:focus{
    outline: none;
}

html{
    font-size: 20px;
    font-family: 'Open Sans', Arial;
    color: #575151;
    overflow-x: hidden;
}

/******* REUSABLE COMPONENTS *******/

.row{
    max-width: 1140px;
    margin: 0 auto;
}

h2{
    text-align: center;
    font-size: 180%;
    margin-top: 55px;
    color: #fff;
    letter-spacing: 3px;
}

h2:after{
    display: block;
    border-bottom: 2px solid #e74c3c;
    width: 100px;
    content: " ";
    margin: 20px auto;
}


/******* HEADER *******/

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/loginBack.jpg);
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}

.main-nav li{
    display: inline-block;
    margin-right: 30px;
}

.main-nav{
    list-style: none;
    float: right;
    margin-top: 40px;
}

.logo{
    height: 50px;
    width: auto;
    margin-top: 25px;
    border-radius: 100px;
    float: left;
}

.main-nav li a:link,
.main-nav li a:visited{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 15px;
    border-radius: 100px;
    transition: 0.2s background-color, 0.2s color;
    font-weight: 300;
}

.main-nav li a:hover,
.main-nav li a:active{
    background-color: #000;
    color: #e74c3c;
}

/* MOBILE NAVIGATION */

.mobile-nav-icon{
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
    margin-right: 10px;
}

.mobile-nav-icon i{
    font-size: 150%;
    color: #fff;
}

/*** REGISTER FORM ***/

.register-form{
    width: 60%;
    margin: 30px auto;
}

label{
    color: #fff;
    vertical-align: middle;
}

input[type=password],
input[type=email],
input[type=text],
input[type=tel]{
    width: 100%;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #cecece;
    margin-bottom: 15px;
    font-size: 80%;
}

.no-account{
    font-size: 80%;
    color: #fff;
}

.register{
    text-decoration: none;
    color: #01cb01;
}

input[type=submit]{
    padding: 5px 20px;
    border: 1px solid #2ecc71;
    background-color: #2ecc71;
    color: #fff;
    border-radius: 5px;
    float: right;
}

/******* FOOTER *******/

footer{
    background-color: #575757;
    padding: 40px 0px;
    color: #cecece;
}

.footer-nav{
    list-style: none;
}

.footer-nav li{
    display: inline-block;
    margin-right: 20px;
    font-size: 70%;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.footer-nav li a:link,
.footer-nav li a:visited{
    text-decoration: none;
    color: #cecece;
    transition: 0.2s color;
}

.footer-nav li a:hover,
.footer-nav li a:active{
    color: #000;
}

.footer-nav-icons{
    float: right;
    list-style: none;
}

.footer-nav-icons li{
    display: inline-block;
    margin-right: 20px;
}

.footer-nav-icons li a{
    text-decoration: none;
    color: #cecece;
}

.copyright{
    text-align: center;
    letter-spacing: 1px;
    font-size: 60%;
    margin-top: 20px;
}

.fab{
    font-size: 110%; 
}

.facebook:link,
.facebook:visited{
    transition: 0.2s color;
}

.facebook:hover{
    color: #1877f2;
}

.twitter:link,
.twitter:visited{
    transition: 0.2s color;
}

.twitter:hover{
    color: #55acee;
}

.instagram:link,
.instagram:visited{
    transition: 0.2s color;
}

.instagram:hover{
    color: #c32aa3;
}

